.custom-modal {
    width: 543px;
    height: 700px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .modal-content {
    padding: 0;
  }
  
  .header {
    width: 495px;
    height: 125px;
    background: linear-gradient(to right, #350B48, #905BE8);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-image {
    width: 146px;
    height: 155px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold; 
    cursor: pointer;
  }
  
  .title {
    text-align: center;
    color: #350B48;
    font-size: 26px; 
    font-weight: 900; 
    margin: 57px 0 20px 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 #350B48; 
}

  .course-title {
    display: inline;
    font-weight: extra-bold;
    text-transform: uppercase;
  }
  
  .details {
    padding: 0 20px;
  }
  
  .detail-item {
    margin-bottom: 20px;
  }
  
  .label {
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }
  
  .value {
    color: #000;
    font-size: 16px;
  }
  
  .image-preview-title {
    color: #350B48;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 20px; 
    text-align: left;
  }
  
  .image-preview {
    display: flex;
    justify-content: center;
  }
  
  .preview-image {
    max-width: 100%;
    border-radius: 8px;
  }
  