:root {
    /* Modo claro (por defecto) */
    --bg-primary: #cbd5e1;
    --text-primary: #000000;
    --bg-secondary: #ffffff;
    --text-secondary: #000000; /* Por pensar */
}

.dark {
    /* Modo oscuro */
    --bg-primary: #200E3E;
    --text-primary: #ffffff;
    --bg-secondary: #581c87;
    --text-secondary: #581c87; /* Por pensar */
}

/* Aplicar transición solo cuando se cambia el tema */
.theme-transition, 
.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
