.custom-scrollbar {
    overflow-y: hidden; /* Oculta el scroll por defecto */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    transition: overflow 0.3s ease; /* Transición suave */
  }
  
  .custom-scrollbar:hover {
    overflow-y: scroll; /* Muestra el scroll al pasar el mouse */
  }
  
  /* Scrollbar para Webkit */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  